# PostgreSQL connection string
DB_URL=postgresql+asyncpg://postgres:your_password@localhost:5432/botTovar

# Test DB (in-memory или тестовая PostgreSQL)
TEST_DB_URL=postgresql+asyncpg://postgres:your_password@localhost:5432/botTovar_test
